parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$custom\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendSmsNotification.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$send_to\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendSmsNotification.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$template\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendSmsNotification.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Actions/SendSmsNotification.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Classes\\\\BaseChannel\\:\\:\\$channelClassName\\.$#"
			count: 1
			path: src/Classes/BaseChannel.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\File\\:\\:normalizePath\\(\\)\\.$#"
			count: 1
			path: src/Classes/BaseChannel.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\SmsNotify\\\\Controllers\\\\Channels\\:\\:formCreateModelObject\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Channels.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\SmsNotify\\\\Controllers\\\\Channels\\:\\:formExtendQuery\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Channels.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Channels.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\SmsNotify\\\\Controllers\\\\Templates\\:\\:formFindModelObject\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Templates.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Templates.php

		-
			message: "#^Class IgniterLabs\\\\SmsNotify\\\\SmsChannels\\\\Aws not found\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Class Igniter\\\\Cart\\\\AutomationRules\\\\Events\\\\NewOrderStatus not found\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:\\$class_name\\.$#"
			count: 5
			path: src/Models/Channel.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:\\$config_data\\.$#"
			count: 2
			path: src/Models/Channel.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:\\$id\\.$#"
			count: 1
			path: src/Models/Channel.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:\\$is_default\\.$#"
			count: 1
			path: src/Models/Channel.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:\\$is_enabled\\.$#"
			count: 2
			path: src/Models/Channel.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:getConfigFields\\(\\)\\.$#"
			count: 1
			path: src/Models/Channel.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:applyChannelClass\\(\\)\\.$#"
			count: 1
			path: src/Models/Channel.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:pluck\\(\\)\\.$#"
			count: 1
			path: src/Models/Channel.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\SmsNotify\\\\Models\\\\Channel\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 4
			path: src/Models/Channel.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:\\$code\\.$#"
			count: 2
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:\\$content\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:\\$is_custom\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$code\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$is_custom\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\View\\\\View\\:\\:getPath\\(\\)\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:pluck\\(\\)\\.$#"
			count: 1
			path: src/Models/Template.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\SmsNotify\\\\Models\\\\Template\\:\\:whereCode\\(\\)\\.$#"
			count: 2
			path: src/Models/Template.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_key\\.$#"
			count: 1
			path: src/SmsChannels/Clickatell.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_key\\.$#"
			count: 2
			path: src/SmsChannels/Nexmo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_secret\\.$#"
			count: 2
			path: src/SmsChannels/Nexmo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$send_from\\.$#"
			count: 1
			path: src/SmsChannels/Nexmo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$status_callback\\.$#"
			count: 1
			path: src/SmsChannels/Nexmo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$auth_token\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$from_number\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Call to method send_message\\(\\) on an unknown class Plivo\\\\RestAPI\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Instantiated class Plivo\\\\RestAPI not found\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Method IgniterLabs\\\\SmsNotify\\\\SmsChannels\\\\Plivo\\:\\:client\\(\\) has invalid return type Plivo\\\\RestAPI\\.$#"
			count: 1
			path: src/SmsChannels/Plivo.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$account_sid\\.$#"
			count: 1
			path: src/SmsChannels/Twilio.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$auth_token\\.$#"
			count: 1
			path: src/SmsChannels/Twilio.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$from\\.$#"
			count: 2
			path: src/SmsChannels/Twilio.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$service_sid\\.$#"
			count: 2
			path: src/SmsChannels/Twilio.php
